footer{
	text-align: center;
	margin-top: 3%;
}
.article{
	margin-top: 50px;
}
.admin-table{
	width: 100%;
}
*{
	margin: 0;
	padding: 0;
}
.layout {
    position: relative;
    display: table;
    min-width: 1024px;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background: #fff;
}

.layout__row {
    display: table-row;
    width: 100%;
    height: 1px;
}

#TMpanel {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 28px;
    min-width: 1024px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 28px;
    background: #f2f2f2;
    border-bottom: 1px solid #bcc3ce;
    box-sizing: border-box;
}

#TMpanel .container {
    height: 28px;
    min-width: 1024px;
    margin: auto;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
}

#TMpanel .container .bmenu {
    display: inline!important;
    white-space: normal;
    visibility: visible!important;
}
#TMpanel .container .bmenu a{
	text-decoration: none;
	margin-left: 20px;
}
#TMpanel .container .bmenu a.current{
	color: #000;
}
.bmenu_inner {
    display: inline-block;
    margin-left: 100px;
    vertical-align: baseline;
}
.bmenu_label {
    font-size: 12px;
    font-weight: 400;
    color: #999;
}
#TMpanel .container .bmenu.slink {
    white-space: normal;
}
#TMpanel .container .bmenu {
    display: inline!important;
    white-space: normal;
    visibility: visible!important;
}
#TMpanel .container .bmenu.slink>a {
    display: inline-block;
    float: none;
    margin: 0 0 0 12px;
    vertical-align: baseline;
    text-decoration: none;
}
.layout__row_navbar {
    position: static;
    z-index: 500;
    box-sizing: border-box;
    border-bottom: 1px solid #d5dddf;
    background: #fff;
}
.layout_cell {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 32px;
    min-width: 1024px;
    max-width: 1164px;
}
.main-navbar {
    display: flex;
    justify-content: space-between;
    height: 64px;
    box-sizing: border-box;
}
.main-navbar a {
	text-decoration: none;
	color: #212529;
}
.main-navbar a:hover{
	text-decoration: none;
	color: #212529;
}
.main-navbar__section_left {
    flex: 1 1 0%;
}
.main-navbar__section {
    display: flex;
    align-items: center;
    position: relative;
}
.logo-wrapper {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 56px;
    font-size: 32px;
    font-weight: bold;
}
.nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-links__item {
    margin-right: 28px;
    height: 100%;
}
.nav-links__item-link_current {
    color: #464646!important;
}
.nav-links__item-link {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    color: #838a92;
    font-weight: 500;
    font-size: 15px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    text-decoration: none;
}
.right-nav{
	width: 30%;
	display: flex;
	justify-content: space-around;
}
.btn-login{
	border: 1px solid #838a92!important;
}
.btn-login a{
	text-decoration: none;
	color: #838a92;
}
.btn-login a:hover{
	text-decoration: none;
	color: #65a3be;
	transition-duration: 0.5s;
}

.articles_layout{
	margin-top: 3%;
	margin-left: 5%;
}
.articles_layout h3 a{
	text-decoration: none;
}
.article_item{
	margin-top: 3%;
	margin-left: 5%;
}
.article_item h3{
	color: #007bff;
}
.container_main{
	text-align: center;
}
.add_button{
	margin: 2% 0%;
}
.add_article{
	text-decoration: none;
	color: #fff;
}
.add_article:hover{
	text-decoration: none;
	color: #fff;
}
.article_item .main_return {
		display: block;
		margin-left: auto;
		margin-right: auto;
}
.add_delete{
	display: flex;
	flex-direction: column;
	margin-left: 18%;
}
.form-item{
	margin-top: 3%;
	margin-left: 6%;
	width: 50%;
}
.form-item_date{
	margin-top: 2%;
	margin-left: 10%;
}
.form-item_textarea{
	margin-top: 2%;
	margin-left: 3%;
	width: 50%;
}
.submit_button{
	margin-left: 14%;
	width: 50%;
}
.return{
	margin-top: 1%;
	margin-left: 14%;
	width: 50%;
}
